# Introduction to Dataframes and Series

In this lecture, we will talk about `dataframes`. `dataframes` are one of the most important data structure in Python, which consists of a two dimensional labelled data structure with columns that can contain variables of potentially different types. It is the standard structure in which you would import most of the data in Python. To work with dataframes, it is necessary to import a new module which is called `pandas`.

In [1]:
import pandas as pd

There are multiple ways to create dataframes. The standard approach is either with the function `pd.DataFrame` or to import `csv` files directly in the format of a dataframe.

A standard input of `pd.DataFrame` is a dictionary that specifies the name of the columns and the values that belong to each column.

In [31]:
dict_df = {"names": ["Luke", "Sara", "Lucia"], "Grades" : [56, 78, 92]}
df = pd.DataFrame(dict_df)
df

   names  Grades
0   Luke      56
1   Sara      78
2  Lucia      92