# Introduction to Dataframes

In this lecture, we will talk about `dataframes`. `dataframes` are one of the most important data structure in Python, which consists of a two dimensional labelled data structure with columns that can contain variables of potentially different types. It is the standard structure in which you would import most of the data in Python. To work with dataframes, it is necessary to import a new module which is called `pandas`.

In [2]:
import pandas as pd

There are multiple ways to create dataframes. The standard approach is either with the function `pd.DataFrame` or to import `csv` files directly in the format of a dataframe.

A standard input of `pd.DataFrame` is a dictionary that specifies the name of the columns as `keys` and the values that belong to each column as `list`, where the length of the each list corresponds to the numer of rows. All columns in a dataframe must have the same number of rows, so if you pass two lists with two different lengths then Python will return an error.

In [10]:
dict_df = {"names": ["Luke", "Sara", "Lucia"], "Grades" : [56, 78, 92]}
df = pd.DataFrame(dict_df)
df

   names  Grades
0   Luke      56
1   Sara      78
2  Lucia      92

As you can see, you now have a table (e.g. dataframe) with two columns and three rows. Dataframes, however, can have not only column headers but also row names. To add row names when creating a dataframe is possible to pass the argument `index`.

In [53]:
dict_df = {"names": ["Luke", "Sara", "Lucia"], "Grades" : [48, 78, 92], "results": ["fail", "pass", "pass"]}
df = pd.DataFrame(dict_df, index = ["row1", "row2", "row3"])
df

      names  Grades results
row1   Luke      48    fail
row2   Sara      78    pass
row3  Lucia      92    pass

Of course, there is also the possibility to change the column and row names once the dataframe was already created.

In [54]:
df.columns = ["First_Names", "Math_Grades", "Final_results"]
df.index = ["person1", "person2", "person3"]
df

        First_Names  Math_Grades Final_results
person1        Luke           48          fail
person2        Sara           78          pass
person3       Lucia           92          pass

The same commands can be used to check the columns and row names

In [55]:
print(df.columns)
print(df.index)

Index(['First_Names', 'Math_Grades', 'Final_results'], dtype='object')
Index(['person1', 'person2', 'person3'], dtype='object')

If you want to change the column names of only one (or a subset of colums), then a more complex command is required, which is `rename`. `rename` takes as input an argument columns that is a dictionary whose keys are the old column names and values are the new column names.

In [56]:
df.rename(columns = {"First_Names": "name"}, inplace = True)
df

          name  Math_Grades Final_results
person1   Luke           48          fail
person2   Sara           78          pass
person3  Lucia           92          pass

If the  `inplace ` argument is not specified, then the output should be assigned to a new variable.

In [57]:
dfnew = df.rename(columns = {"First_Names": "name"})
dfnew

          name  Math_Grades Final_results
person1   Luke           48          fail
person2   Sara           78          pass
person3  Lucia           92          pass

As alternative, it is possible to directly import data in Python in form of dataframes with the function `pd.read_csv`. We selected for you a publicly available dataset that contains information about some of the most played songs in Spotify. During this lecture, you will be required to work with this data during the small exercises, and as part of the theoretical part of the lecture.

In [5]:
songs = pd.read_csv("Data/Day9_data.csv")
songs

,id,danceability,energy,loudness,speechiness,duration_ms,acousticness,instrumentalness,liveness,valence,genre,song_name
0,2Vc6NJ9PW9gD9q343XFRKx,0.831,0.814,-7.364,0.4200,124539,0.05980,0.013400,0.0556,0.3890,Dark Trap,Mercury: Retrograde
1,7pgJBLVz5VmnL7uGHmRj6p,0.719,0.493,-7.230,0.0794,224427,0.40100,0.000000,0.1180,0.1240,Dark Trap,Pathology
2,0vSWgAlfpye0WCGeNmuNhy,0.850,0.893,-4.783,0.0623,98821,0.01380,0.000004,0.3720,0.0391,Dark Trap,Symbiote
3,0VSXnJqQkwuH2ei1nOQ1nu,0.476,0.781,-4.710,0.1030,123661,0.02370,0.000000,0.1140,0.1750,Dark Trap,ProductOfDrugs (Prod. The Virus and Antidote)
4,4jCeguq9rMTlbMmPHuO7S3,0.798,0.624,-7.668,0.2930,123298,0.21700,0.000000,0.1660,0.5910,Dark Trap,Venom
...,...,...,...,...,...,...,...,...,...,...,...,...
21514,4YuGxSdxyL6fRD7uchn9dI,0.538,0.819,-6.780,0.4670,209582,0.00854,0.000000,0.1310,0.2520,Hiphop,Daddy's Girl
21515,034dSXepspHaYFW7rZZx1d,0.415,0.548,-8.563,0.2850,213898,0.22400,0.000000,0.1220,0.5280,Hiphop,'94
21516,7oCZpPJcPDZfeIy2t6gqSg,0.785,0.648,-6.907,0.2790,271867,0.01570,0.001980,0.1000,0.5060,Hiphop,Born 2 Live
21517,2kpwzDrLK5KoIk1S5wftX7,0.747,0.832,-5.737,0.1850,182040,0.23300,0.000014,0.1300,0.7330,Hiphop,Can't Hold On
21518,503OTo2dSqe7qk76rgsbep,0.816,0.775,-3.323,0.2340,270587,0.16000,0.000310,0.0543,0.5270,Hiphop,Still D.R.E.

Since this dataframe is bigger than the previous one, it is not possible to see it fully printed in the notebook. The bigger is the dataframe, the more memory and time is required to visualize. This is why, usually, it is better to just visailize a part of it. This is possible through the methods `head` and `tail`, that return repsectively the beginning and the end of the dataframe.

In [20]:
songs.head()

,id,danceability,energy,loudness,speechiness,duration_ms,acousticness,instrumentalness,liveness,valence,genre,song_name
0,2Vc6NJ9PW9gD9q343XFRKx,0.831,0.814,-7.364,0.4200,124539,0.0598,0.013400,0.0556,0.3890,Dark Trap,Mercury: Retrograde
1,7pgJBLVz5VmnL7uGHmRj6p,0.719,0.493,-7.230,0.0794,224427,0.4010,0.000000,0.1180,0.1240,Dark Trap,Pathology
2,0vSWgAlfpye0WCGeNmuNhy,0.850,0.893,-4.783,0.0623,98821,0.0138,0.000004,0.3720,0.0391,Dark Trap,Symbiote
3,0VSXnJqQkwuH2ei1nOQ1nu,0.476,0.781,-4.710,0.1030,123661,0.0237,0.000000,0.1140,0.1750,Dark Trap,ProductOfDrugs (Prod. The Virus and Antidote)
4,4jCeguq9rMTlbMmPHuO7S3,0.798,0.624,-7.668,0.2930,123298,0.2170,0.000000,0.1660,0.5910,Dark Trap,Venom

In [27]:
songs.tail(10)

,id,danceability,energy,loudness,speechiness,duration_ms,acousticness,instrumentalness,liveness,valence,genre,song_name
21509,1t2ZxgMhUmOprCILh0UjlX,0.819,0.618,-6.144,0.168,265253,0.46000,0.148000,0.1050,0.851,Hiphop,Life of a Sinner
21510,5zEoohLO20ofIBg0fzPqhQ,0.812,0.658,-6.834,0.157,217187,0.00607,0.000000,0.1340,0.514,Hiphop,Get $ Paid
21511,6Nv73zhgxCrWigqzGWCfNA,0.719,0.444,-7.854,0.190,257853,0.05440,0.000000,0.1700,0.724,Hiphop,I'm Sorry Baby (Remix) [feat. Wadz & Talkbox P...
21512,2ImuQo1g14CTR9hZAZD3aQ,0.804,0.443,-10.268,0.134,203027,0.03120,0.022500,0.1120,0.580,Hiphop,This D.J.
21513,54v6Kv41W8AKToCb14PmJD,0.526,0.819,-6.728,0.298,281886,0.00206,0.000003,0.3360,0.581,Hiphop,"H20 (feat. Pharoahe Monch, Rakaa Iriscience, &..."
21514,4YuGxSdxyL6fRD7uchn9dI,0.538,0.819,-6.780,0.467,209582,0.00854,0.000000,0.1310,0.252,Hiphop,Daddy's Girl
21515,034dSXepspHaYFW7rZZx1d,0.415,0.548,-8.563,0.285,213898,0.22400,0.000000,0.1220,0.528,Hiphop,'94
21516,7oCZpPJcPDZfeIy2t6gqSg,0.785,0.648,-6.907,0.279,271867,0.01570,0.001980,0.1000,0.506,Hiphop,Born 2 Live
21517,2kpwzDrLK5KoIk1S5wftX7,0.747,0.832,-5.737,0.185,182040,0.23300,0.000014,0.1300,0.733,Hiphop,Can't Hold On
21518,503OTo2dSqe7qk76rgsbep,0.816,0.775,-3.323,0.234,270587,0.16000,0.000310,0.0543,0.527,Hiphop,Still D.R.E.

As you can see, by specifying a number in the parenthesis, you can decide how many rows of the dataframe are printed.

## Get information about your dataframe

There are a few useful functions that allow you to understand the characteristics of your dataframe and its columns. The first is `shape` which returns the (number of rows, number of columnss).

In [58]:
df.shape

(3, 3)

What if you want to know what is the types of each column? Then you can use wither the function `dtype` or `info`, where the former returns only the type and the latter also other information such as the number of missing values and the memory usage of the dataframe.

**IMPORTANT**: in case of dataframes, if the column contains `strings` then the type is `object`

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, person1 to person3
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           3 non-null      object
 1   Math_Grades    3 non-null      int64
 2   Final_results  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes

In [60]:
df.dtypes

name             object
Math_Grades       int64
Final_results    object
dtype: object

Finally, in case of columns with strings values, it is possible to check how many times each string appears in the dataframe, by selecting a specific column and using the function `value_counts`

In [65]:
df["Final_results"].value_counts()

pass    2
fail    1
Name: Final_results, dtype: int64

---------------------

### Code here

Now that we imported the dataframe, try to:
1. Check what are the columns and index available
2. Replace the column headers `song_name` and `liveness` with respectively `song` and `live`
3. Check the shape of the dataframe to see how many rows and columns there are
4. Check the data type of each columns
5. Check how many songs there are for each genre

In [14]:
# Code here

## Access and update the data from a dataframe

There are multiple ways to access the elements in a dataframe. The first approach allows you to extract a specific column by simply using the column header - this is the same thing we did before when using the function `value_counts`. Interestingly, if you check the type of the column using the function `type`, you will obtain the `series`. `series` are the basic structures of pandas dataframe and each column is a series. 

**IMPORTANT**: the difference between `dtype` and `type` is that the latter gives you the data type of the column, while the former of the variables in the column.

In [85]:
print(df["name"])
print(type(df["name"]))

person1    Dragos
person2    Andrea
person3      Luke
Name: name, dtype: object
<class 'pandas.core.series.Series'>

By using this method, it is also possible to modify the values in a specific columns

In [79]:
df["name"] = ["Dragos", "Andrea", "Luke"]
df

           name  Math_Grades Final_results
person1  Dragos           48          fail
person2  Andrea           78          pass
person3    Luke           92          pass

If you prefer to extract a column but keep the data structure as dataframe, then you need to filter the dataframe using a list.

In [76]:
print(type(df[["name"]]))
df[["name"]]

<class 'pandas.core.frame.DataFrame'>

          name
person1   Luke
person2   Sara
person3  Lucia

The good thing about extracting the data using a list is that you can provide the name of as many columns as you want and extract them at once.

In [68]:
df[["name", "Final_results"]]

          name Final_results
person1   Luke          fail
person2   Sara          pass
person3  Lucia          pass

Now, what if we want to extract data by **rows**? In this case, you need to use either `iloc` or `loc`. The difference between the two is that:
1. loc locates the right row by name
2. iloc locates the right row by index

**IMPORTANT**: Remember that also in pandas the first row has index 0

In [84]:
df.loc["person2"]

name             Andrea
Math_Grades          78
Final_results      pass
Name: person2, dtype: object

In [73]:
df.iloc[1]

name             Sara
Math_Grades        78
Final_results    pass
Name: person2, dtype: object

Both iloc and loc can extract a set (or slice) of rows instead of a unique one. In this sense, they behave similar to lists.

In [83]:
df.iloc[1:2]

           name  Math_Grades Final_results
person2  Andrea           78          pass

In [82]:
df.loc["person1":"person2"]

           name  Math_Grades Final_results
person1  Dragos           48          fail
person2  Andrea           78          pass

In [ ]:
An important difference

In [ ]:
# drop
# loc
# nrmal columns

---------------------

### Code here

1. Check oh